{% extends 'base.html' %}
{% load static %}

{% block myblock %}

<center>
    <figure class="max-w-lg mx-auto p-4">
        <img class="h-auto max-w-full rounded-lg" src="https://raw.githubusercontent.com/sakshamssr/upanime/main/static/logo.webp" alt="Logo">
        <img src="https://v10.mkklcdnv6tempv4.com/img/tab_30/04/15/53/pb992910/chapter_15_end/1-o.jpg" alt="Naruto: Konoha's Story - The Steam Ninja Scrolls: The Manga Chapter 15 [END] page 1 - MangaNato.com" title="Naruto: Konoha's Story - The Steam Ninja Scrolls: The Manga Chapter 15 [END] page 1 - MangaNato.com" style="margin-top: 5px;">
    </figure>
    <h1>UpAnime</h1>
    <h1>Coming Soon</h1>
</center>

{% endblock %}